html, body {
    height: 100%;
    margin: 0;
    display: table;
}
/*第一种 外层元素定高 begin*/
div.out-wrapper {
    display: table-cell;
    position: relative;
    /*top: 50%;*/
    width: 400px;
    height: 200px;
    /*margin: 0 auto;*/
    background-color: #ccc;
    overflow: hidden;
}
div.quarter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fc0;

}
div.quarter:first-child {
    position: absolute;
    left: -50px;
    top: -50px;
}
div.quarter:last-child {
    position: absolute;
    right: -50px;
    bottom: -50px;
}


